:root {
  font-family: "Fira Sans";
  box-sizing: border-box;
  line-height: 1.66;
  --text-color: #333;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 32px;
  line-height: 1;
  color: var(--text-color);
}

h1 {
  font-size: clamp(32px, 5.21vw, 40px);
}

h2 {
  font-size: clamp(24px, 4.17vw, 32px);
  margin-top: 48px;
}

a {
  text-decoration: none;
  color: darkblue;
}
a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  margin-top: 16px;
  color: var(--text-color);
}

ol {
  margin: 0;
  padding: 0;
}

pre {
  font-family: Fira Code;
  padding: 20px;
  margin-left: -1rem;
  margin-top: 24px;
  width: 100%;
  font-size: 18px;
  border-radius: 8px;
  /* overflow-wrap: normal; */
  overflow: auto;
}

hr {
  margin: 32px 0 32px 0;
}

select option {
  background-color: white;
  color: var(--text-color);
}
