:root {
  font-family: "Fira Sans";
  line-height: 1.66;
  --text-color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 32px;
  line-height: 1;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: darkblue;
}
a:hover {
  text-decoration: underline;
}
p {
  margin: 0;
  margin-top: 16px;
  color: var(--text-color);
}

ol {
  margin: 0;
  padding: 0;
}

pre {
  font-family: Fira Code;
  font-size: 16px;
  border-radius: 16px;
  overflow-wrap: normal;
  overflow: auto;
}

hr {
  margin: 32px 0 32px 0;
}
